/* Generated for MSIE v11.0 on Windows */
@font-face {
     font-family: "Shabnam";
     src: url("54e95c8d517ff334fff6ffc1c0b6fa2fed48c6385ed9f8cedceb2cf53c3d06ee.woff") format("woff");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: "Shabnam";
     src: url("825bb53d4aa521f6049ccd4ba7f365dac04e8b7f3a2cae87e35963836eee72ed.woff") format("woff");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Shabnam";
     src: url("b2dff86b5a95798840f98855c165b3be0564ab96791aeeedc4697ee244f73b50.woff") format("woff");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Shabnam";
     src: url("6e65826cae7d72330b906fba02a0f16ccd32edb8e65f01cc678c167c9f2e553f.woff") format("woff");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "Shabnam";
     src: url("5096e57e98f10c70e45049c0d56ae338620bc44fb08f1f70eff17ec06a4175b9.woff") format("woff");
     font-weight: 700;
     font-style: normal;
}
/* CACHED: 2022-10-01T03:10:47+03:30 */
/* Powered by FontServer.ir */